body {
    background: rgb(203, 202, 202);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
}

header {
    background: rgb(1, 81, 91);
    height: 100px;
}

header h1 {
    padding: 35px 0 0 24px;
    color: #fff;
    text-transform: uppercase;
}